@use 'variables';

.text-center {
  text-align: center;
}

.regular {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}

@each $sizeName, $size in variables.$sizes {
  .pad#{$sizeName} {
    padding: $size;
  }
}

// Margin Top
@each $sizeName, $size in variables.$sizes {
  .mt#{$sizeName} {
    margin-top: $size;
  }
}

// Margin Right
@each $sizeName, $size in variables.$sizes {
  .mr#{$sizeName} {
    margin-right: $size;
  }
}

// Margin Bottom
@each $sizeName, $size in variables.$sizes {
  .mb#{$sizeName} {
    margin-bottom: $size;
  }
}

@each $fontName, $fontSize in variables.$fontSizes {
  .#{$fontName} {
    font-size: $fontSize;
  }
}

// Specifics

.blur {
  filter: blur(10px);
}

.mb16 {
  margin-bottom: 16px;
}

.pad24 {
  padding: 24px;
}

.grid-row-span-2 {
  grid-row: span 2;
}

.grid-col-span-2 {
  grid-column: span 2;
}

// Text Colors
.color-purple {
  color: variables.$purple;
}

// Line Height
.lh25 {
  line-height: 2.5rem;
}