@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexCenter--column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin forTablet {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin forDesktop {
  @media (min-width: 1024px) /* 1024px */ {
    @content;
  }
}

// @mixin forLandscape--mobile {
//   @media (max-width: 900px) /* 900px */ and (orientation: landscape) {
//     @content;
//   }
// } 

@mixin rotateCenter {
  animation-name: rotate-center;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}