@use 'fonts';

// Fonts
$barlow: 'Barlow';
$barlowC: 'BarlowCondensed';
$belle: 'Bellefair';

// Color variables
$dark: #0B0D17;
$purple: #D0D6F9;
$white: #FFFFFF;

// Preset Sizes
$fs14: 1.4rem;
$fs16: 1.6rem;
$fs18: 1.8rem;
$fs20: 2rem;
$fs24: 2.4rem;
$fs28: 2.8rem;
$fs32: 3.2rem;
$fs56: 5.6rem;
$fs80: 8rem;
$fs100: 10rem;
$fs150: 15rem;

$fontSizes: (
  "fs14": 1.4rem,
  "fs16": 1.6rem,
  "fs18": 1.8rem,
  "fs24": 2.4rem,
  "fs28": 2.8rem,
  "fs32": 3.2rem,
  "fs56": 5.6rem,
  "fs80": 8rem,
  "fs100": 10rem,
  "fs150": 15rem
);

$sizes: (
  "5": 5px,
  "10": 10px,
  "15": 15px,
  "20": 20px,
  "25": 25px,
  "30": 30px,
  "35": 35px,
  "40": 40px,
  "45": 45px,
  "50": 50px
);