@use 'fonts';

// Fonts
$barlow: 'Barlow';
$barlowC: 'BarlowCondensed';
$belle: 'Bellefair';

// Color variables
$dark: #0B0D17;
$purple: #D0D6F9;
$white: #FFFFFF;

// Preset Sizes
$fs14: 14px;
$fs16: 16px;
$fs28: 28px;
$fs32: 32px;
$fs56: 56px;
$fs100: 100px;
$fs150: 150px;

$fontSizes: (
  "fs14": 14px,
  "fs16": 16px,
  "fs24": 24px,
  "fs28": 28px,
  "fs32": 32px,
  "fs56": 56px,
  "fs80": 80px,
  "fs100": 100px,
  "fs150": 150px
);

$sizes: (
  "5": 5px,
  "10": 10px,
  "15": 15px,
  "20": 20px,
  "25": 25px,
  "30": 30px,
  "35": 35px,
  "40": 40px,
  "45": 45px,
  "50": 50px
);