@use '../utils' as u;

.home__body {
  background-image: url(../../assets/home/background-home-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;

  @include u.forTablet {
    background-image: url(../../assets/home/background-home-tablet.jpg);
  }

  @include u.forDesktop {
    background-image: url(../../assets/home/background-home-desktop.jpg);
    padding-top: 2vh;
  }
}