@use '../utils' as u;


.home__text {
  width: 360px;
  min-height: 320px;

  @include u.forTablet {
    width: 500px;
    height: 400px;
  }

  @include u.forDesktop {
    position: absolute;
    top: 25%;
    left: 0;
  }
}

.home__explore__link {
  @include u.flexCenter;
  background: u.$white;
  font-size: 20px;
  font-family: 'Bellefair';
  text-decoration: none;
  color: u.$dark;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: .5s;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.1);
  }

  @include u.forTablet {
    width: 200px;
    height: 200px;
  }

  @include u.forDesktop {
    position: absolute;
    top: 40%;
    left: 75%;
    width: 250px;
    height: 250px;
    font-size: 32px;
  }
}