@use '../utils' as u;

.home__main {
  @include u.flexCenter;
  min-height: calc(100vh - 12vh);
  padding: 2rem;

  .home__main__container {
    @include u.flexCenter--column;
    justify-content: space-around;
    gap: 130px;


    @include u.forDesktop {
      justify-content: space-between;
      align-items: flex-end;
      flex-direction: row;
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
    }
  }
}

.destination__main {
  @include u.flexCenter;
  padding: 3rem 2.4rem;
  min-height: 87vh;
  position: relative;

  .destination__main__container {
    @include u.flexCenter--column;
    justify-content: space-around;
    width: 100%;

    @include u.forDesktop {
      display: flex;
      flex-direction: row;
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
    }
  }
}

.crew__main {
  @include u.flexCenter--column;
  padding: 3rem 2.4rem;
  min-height: calc(100vh - 12vh);
  gap: 3rem;

  .crew__main__container {
    @include u.flexCenter--column;
    width: 100%;

    @include u.forTablet {
      justify-content: flex-start;
    }

    @include u.forDesktop {
      // position: relative;
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
    }
  }
}