@use '../utils' as u;

.btn__logo, .btn__hamburger, .btn__hamburger--close {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn__hamburger {
  @include u.forDesktop {
    display: none;
  }
}

.btn__logo {
  width: 60px;
  height: 60px;
}

.btn__hamburger--close {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 48px;
  height: 48px;

  img {
    width: 30px;
    height: 30px;
  }
}