@use '../utils' as u;

// Section Heading, refers to the Title at the beginning of the page that informs which page and number is it. Example: 01 Destination
.section__heading {
  font-family: u.$barlowC;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 2.7px;
  line-height: 1.9rem;
  text-align: center;
  margin-bottom: 32px;
}
.section__heading__number {
  opacity: 0.5;
  margin-right: 18px;
}

.crew__heading__container {
  @include u.flexCenter--column;
  max-width: 1280px;
  width: 100%;

  @include u.forTablet {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .crew__heading {
    margin-bottom: 0;
    text-align: initial;

    @include u.forTablet {
      font-size: 2rem;
    }

    @include u.forDesktop {
      font-size: 2.8rem;
    }
  }
}


.bellefair {
  font-family: u.$belle;
  font-weight: 400;
}

.heading1,
.heading2,
.heading3,
.heading4 {
  font-family: 'Bellefair';
  font-weight: 400;
}

.heading1 {
  font-size: 15rem;
}

.heading3 {
  font-size: 5.6rem;
}

.heading4 {
  font-size: 3.2rem;
}

.heading5 {
  font-family: 'BarlowCondensed';
  font-size: 1.6rem;
  letter-spacing: 2.75px;

  @include u.forTablet {
    font-size: 2rem;
  }
}