@use '../utils' as u;

.heading1, .heading2, .heading3, .heading4 {
  font-family: 'Bellefair';
  font-weight: 400;
}

.heading1 {
  font-size: u.$fs150;
}

.heading2 {
  font-size: 80px;

  @include u.forTablet {
    font-size: 150px;
  }
}

.heading3 {
  font-size: u.$fs56;
}

.heading4 {
  font-size: u.$fs32;
}

.heading5 {
  font-family: 'BarlowCondensed';
  font-size: 16px;
  letter-spacing: 2.75px;

  @include u.forTablet {
    font-size: 20px;
  }
}