@use '../utils/mixins';

.home__main {
  @include mixins.flexCenter;
  min-height: calc(100vh - 10vh);

  .home__main__container {
    @include mixins.flexCenter--column;
    position: relative;
    justify-content: space-around;
    min-height: calc(100vh - 10vh);

    @include mixins.forDesktop {
      width: 100%;
      max-width: 1280px;
      height: calc(100vh - 10vh);
      margin: 0 auto;
    }
  }
}